body
{
background:#E5E5E5;
height: auto;
}

h1{
	font-family: 'Bitter';
	font-weight: 300;
	font-size: 3em;
	margin-bottom: 15px;
	
}


#wrapper{
	margin: 0 auto;
    width: 900px;

}

.pagecontent {
	text-align: left;
	margin-left: 300px;
	color:#FF5722;
}

.header-right {
	font-family: 'Oxygen';
	font-weight: 300;
	font-size: 1.5em;
	margin-left: 300px;

}

.headerimage {
	float: left;
	padding-left: 50px;

}

.maincontentheader{
	text-align: center;
	padding-top: 50px;
	margin-left: 0px;
	color:#FF5722;

}

a{
	display:inline-block;
}

#projectimage{
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;


}

#iconimage{
	padding-top: 10px;
	padding-bottom: 10px;

}
.maincontent{
	width: 900px;
}

.subcontentheader{
	color:#FF5722;
	width: 900px;
	text-align: center;
}
.project{
	width: 350px;
	display: inline-block;
	padding-left: 25px;
}

.example{
	margin-left: auto;
    margin-right: auto;
}


.projecttext{
	font-family: 'Oxygen';
	font-weight: bold;
	color: #000000;

}

.footer{

	padding-top: 100px;
	text-align: center;
	color:#FF5722;
}

.footer-right {
	font-family: 'Oxygen';
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
	

}

.sub-title {
	font-family: 'Oxygen';
	font-weight: 300;
	font-size: 1.5em;
	color: #000000;
}




@media screen and (max-width: 768px) {

body
{
background:#E5E5E5;
padding-left:10px; 
padding-right:10px;
margin: 0;
}

h1{
	display: block;
	font-family: 'Bitter';
	font-weight: 350;
	font-size: 3em;
	margin-bottom: 15px;

	
}


#wrapper{
	
	margin: 0 auto;
	width: 350px;

}

.pagecontent {
	text-align: center;
	color:#FF5722;
	margin: 0;
	width: 350px;
}

.header-right {
	text-align: center;
	width: 350px;
	font-family: 'Oxygen';
	font-weight: 300;
	font-size: 1.5em;
	margin: 0;
	

}

.headerimage {
	width: 350px;
	text-align: center;
	display: block;
	padding-left: 0;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.maincontentheader{
	width: 350px;
	text-align: center;
	padding-top: 50px;
	margin-left: 0px;
	color:#FF5722;

}

a{
	display:inline-block;
}

#projectimage{
	padding-top: 25px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	width: 350px;


}

#iconimage{
	padding-top: 10px;
	padding-bottom: 10px;

}
.maincontent{
	width: 350px;
}

.subcontentheader{
	color:#FF5722;
	width: 350px;
	text-align: center;
}
.project{
	width: 350px;
	display: inline-block;
	padding: 0;
}

.example{
	margin-left: auto;
    margin-right: auto;
}


.projecttext{
	font-family: 'Oxygen';
	font-weight: bold;
	color: #000000;

}

.footer{
	width: 350px;
	padding-top: 100px;
	text-align: center;
	color:#FF5722;
}

.footer-right {
	font-family: 'Oxygen';
	font-weight: 300;
	font-size: 1.5em;
	text-align: center;
	

}

.sub-title {
	font-family: 'Oxygen';
	font-weight: 300;
	font-size: 1.5em;
	color: #000000;
}
